header nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
.title-1{
    color: greenyellow;
    text-align: center;
}

#paragraph1{
    color: violet;
    font-size: xx-large;
}

.title-2{
    color: yellow;
    text-align: center;
}

#paragraph2{
    color: pink;
    font-size: xx-large;
}

.title-3{
    color: red;
    text-align: center;
}

#paragraph3{
    color: bisque;
    font-size: xx-large;
}

.title-4{
    color: violet;
    text-align: center;
}

#paragraph4{
    color: orange;
    font-size: xx-large;

}
table tr{
    background-color: blue;
}
.title-5{
    color: brown;
    text-align: center;
}
.title-6{
    color: orangered;
    text-align: center;
}

.Parent-1{
    background-color: blue;
    padding: 20px;
}

.Parent-2{
    background-color: green;
    padding: 20px;
}

.Parent-3{
    background-color: burlywood;
    padding: 20px;
}

.Parent-3{
    background-color: yellow;
    padding: 20px;
}

.Parent-4{
    background-color: aquamarine;
    padding: 20px;
}
.title-7{
    color: green;
    text-align: center;
}
.title-8{
    color: blueviolet;
    text-align: center;
}

blockquote{
    color: blue;
}

footer{
    color: brown;
}